body {
    background-color: red;
    font-family: helvetica;
    font-size: large;
    }

h1 {
    background-color: white;
    margin: 10px 5px;
    padding: 10px;
    width: 300px;
    font-weight: bolder;
    }
#welcome {
    font-size: 10px;
    }
#welcomegif {
    width: 50%;
    }
.wedstrijd {
    text-align: Center;
    }
#match_1.1{
    display: inline block;
    width: 100px;
    height: 250px;
    }
        
