body {
    background-color: rgb (50, 50, 150);
    font-family: helvetica;
    font-size: large;
    }

h1 {
    background-color: white;
    margin: 10px 5px;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
    }
h2 {
    text-align: center;
    }
h3 {
    text-align: center;
    }
#Welcome {
    text-align: center;
    font-size: 30px;
    }
#welcomegif {
    width: 50%;
    padding: 10px 30% 10px;
    }
.wedstrijd {
    text-align: Center;
    }
#match11 {
    display: inline block;
    width: 400px;
    height: 250px;
    }
#match12 {
    display: inline block;
    width: 150px;
    height: 250px;
    }

#match13 {
    display: inline block;
    width: 150px;
    height: 250px;
    }
